.container {
	border: 2em solid white;
}
.row {

	border: 3px;
}
.articles {
	border: 3px;
	padding: 1em;
	text-align: center;
}

h1 {
	text-align:center;
	border: 8px solid #00002E;
	color:#85D6FF;
}
a {
	color:#00ffff;
}
.banner{
	height: auto;
	width: auto;
	max-width: 100%;
}
.click{
	height: auto;
	width: auto;
	max-width: 100%;
	
}
.blk{
	color:#66b3ff;
	text-align:center;
}

.jkl{
	text-align:center;
	border: 8px solid  #00002E;
	color:#9cc0e2;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

#jh{
	text-align:center;
	color: #66b3ff;
}

#ut{
	height: auto;
	width: auto;
	max-width: 100%;
}
footer{
	text-align:center;
}