#main {
    padding: 20px;
    border: 15px solid #e6e6e6;
    overflow: hidden;
	margin: 15px;
	text-align:center;
	color:#72D0FD;
	font-family:Georgia;
	font-size:80px;
}
/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/
h1 {
	color:#72D0FD;
}
a {
	color:#3399FF;
}

p{
	color:white;
}

ul{
	color:white;
}

#bar{
	color:#006bb3;
}

.main {
    padding: 20px;
    border: 5em solid #e6e6e6;
    overflow: hidden;
	margin: 1em;
	background-color:#5388ac;
	text-align:center;
}
.banner{
	height: auto;
	width: auto;
	max-width: 100%;
}