
.container {
	border: 2em solid white;
}
.row {

	border: 3px;
}
.articles {
	border: 3px;
	padding: 1em;
	text-align: center;
}
.banner{
	height: auto;
	width: auto;
	max-width: 100%;
}


h1 {
	color: #3399FF;
}

a {
	color:#00ffff;
}
.banner{
	height: auto;
	width: auto;
	max-width: 100%;
}