

.container {
	border: 2em solid white;
}
.row {

	border: 3px;
}
.articles {
	border: 3px;
	padding: 1em;
	text-align: center;
}
h1 {
	color: #3399FF;
}

a {
	color:#00ffff;	
}
header{
	width:100%;
}
.banner{
	height: auto;
	width: auto;
	max-width: 100%;
}
h1 {
	text-align:center;
	border: 2px solid white;
	color:#9cc0e2;
}