h1{
	color:#3399FF;
}
p{
	color:#3399FF;
 
}

.sidenav {
    height: 93%;
    width: 4;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1;
    background-color: #5388ac;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: 	#003366;
    display: block;
    transition: 0.3s;
}
.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    padding: 5em;
	text-align: center;
	display: block;
	background-color:#003366;
	top: 15em;
	position: fixed;
	left: 15em;
	right: 6em;
	width: 60em;
	height: 40%;
}