h1{
	color:#3399FF;
}
p{
	color:#3399FF;
	text-align: center;
	display: block;
	background-color: #ffffff;
	height: 90%;
	bottom: 0;
	padding-top: 100px;
	
	width: 4;
	
}

.sidenav {
    height: 100%;
    width: 4;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 1;
    background-color: #3399FF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}