<<<<<<< HEAD
.container {
	border: 2em solid white;
}
.row {

	border: 3px;
}
.articles {
	border: 3px;
	padding: 1em;
	text-align: center;
=======
#main {
    padding: 20px;
    border: 15px solid #e6e6e6;
    overflow: hidden;
	margin: 15px;
	text-align:center;
	color:#72D0FD;
	font-family:Georgia;
	font-size:80px;
>>>>>>> 0f7f21096405ee5bba46d849b381add125f16914
}

h1 {
	color:#72D0FD;
}
a {
	color:#3399FF;
}

p{
	color:white;
}

ul{
	color:white;
}
<<<<<<< HEAD
=======

#bar{
	color:#006bb3;
}

.main {
    padding: 20px;
    border: 5em solid #e6e6e6;
    overflow: hidden;
	margin: 1em;
	background-color:#5388ac;
	text-align:center;
}
.banner{
	height: auto;
	width: auto;
	max-width: 100%;
}
>>>>>>> 0f7f21096405ee5bba46d849b381add125f16914
